<tr>
  <td><%= user.name %></td>
  <td><%= render 'bio', :locals => { :user_bio => raw(user.bio) } %>
  <td><%= user.password %></td>
  <td><%= user.email %></td>
  <td><%= user.role %></td>
  <td><%= link_to 'Show', user %></td>
  <td><%= link_to 'Edit', edit_user_path(user) %></td>
  <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
</tr>
