#content
  .some.stuff
    %p= params[:x]
  #innerstuff
    %h1= raw params[:y]
    =" #{User.first.name.html_safe}"
    :javascript
      var import_file_upload_id = "#{j(params[:id1])}";
    :coffeescript
      import_file_upload_id_coffee = "#{j(params[:id2])}"
