<p>Model Warnings</p>
<table>
  <thead>
    <tr>
      <th>Confidence</th>
      <th>Model</th>
      <th>Warning Type</th>
      <th>Message</th>
      <th>Finger-print</th>
    </tr>
  </thead>
  <tbody>
  <% warnings.each do |warning| %>
    <tr>
      <td><%= warning['Confidence']%></td>
      <td><%= warning['Model']%></td>
      <td><%= warning['Warning Type']%></td>
      <td><%= warning['Message']%></td>
      <td><%= warning['Fingerprint']%></td>
    </tr>
  <% end %>
  </tbody>
</table>
