<h2>Security Warnings</h2>  
<table>
  <thead>
    <tr>
      <th>Confidence</th>
      <th>Class</th>
      <th>Method</th>
      <th>Warning Type</th>
      <th>Message</th>
      <th>Finger-print</td>
    </tr>
  </thead>
  <tbody>
  <% warnings.each do |warning| %>
    <tr>
      <td><%= warning['Confidence']%></td>
      <td><%= warning['Class']%></td>
      <td><%= warning['Method']%></td>
      <td><%= warning['Warning Type']%></td>
      <td><%= warning['Message']%></td>
      <td><%= warning['Fingerprint']%></td>
    </tr>
  <% end %>
  </tbody>
</table>
