<h1>Home#test_model</h1>
<p>Find me in app/views/home/test_model.html.erb</p>
Hello, <%= raw @name %>!


Very likely bad: <%= raw auto_link User.profile %>

Not a problem in Rails 3: <%= link_to User.first.name, "some url" %>

It's just a model <%= link_to "Hipster ipsum", User.first %>

It's just a couple of models <%= link_to "Hipster ipsum", [Account.first, User.last] %>