<h1>Home#test_params</h1>
<p>Find me in app/views/home/test_params.html.erb</p>

Jello, <%= raw @name %>

More: <%= raw @indirect %>

Indirectly: <%= some_method params[:bad_stuff] %>

And: <%= raw params[:x][:y] %>

Not-so-dangerous href: <%= link_to "some text", ensure_valid_proto!(params[:not_so_bad], :js) %>

Dangerous href: <%= link_to "more text", params[:dangerous] %>

Still dangerous hrefs: <%= link_to "donkey", not_safe(params[:bad_robot]) %>

Not completely safe: <%= link_to "Helvetica hoodie bushwick", h(params[:js_xss]) %>

Request parameters: <%= raw request.parameters %>
