<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<%= link_to("good", params.merge(:page => 2)) %>
<%= link_to("xss", url_for(params[:bad])) %>

<%= link_to(image_tag("icons/twitter-gray.svg"), sanitize(@user.home_page), target: "_blank") %>

<%= link_to '', 'something_static', target: '_blank' %> No warning
<%= link_to '', some_url, target: '_blank' %> Warn
<%= link_to '', some_url, target: :_blank %> Warn
<%= link_to some_url, target: '_blank' do -%>
  Warn
<% end %>
<%= link_to some_url, target: :_blank do -%>
  Warn
<% end %>
<%= link_to '', some_url, target: '_blank', rel: 'noopener' %> Weak warning
<%= link_to '', some_url, target: '_blank', rel: 'noreferrer' %> Weak warning
<%= link_to '', some_url, target: '_blank', rel: 'noopener noreferrer' %> No warning
<%= link_to some_url, target: '_blank', rel: 'noopener noreferrer' do -%>
  No Warning
<% end %>
<%= link_to '', target: '_blank' %> No warning
